a {
  text-decoration: none;
}

.title:before {
  content: '';
  width: 80px;
  height: 7px;
  background-color: green;
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  display: block;
  margin-bottom: 10px;
}

.jobCategoryCard {
  background-color: #f5f5f5 !important;
  border: 2px solid rgba(0, 0, 0, .2);
  border-radius: 8px !important;
  box-shadow: none !important;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 0 22px;
}

.listItem {
  border-radius: 4px;
  padding: 0 0 0 8px;
  margin-bottom: 8px !important;
  border: 1px solid transparent;
  transition: .4s all;
}

.listItem span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem button {
  color: #000;
  border: 1px solid darkgray;
  padding: 5px 15px;
  transition: .4s all;
  text-transform: uppercase;
}

.listItem:hover {
  border: 1px solid darkgray;
}

.listItem:hover button {
  color: #fff !important;
  background-color: #000;
}

.deleteBtn {
  margin-right: 10px;
  padding: 7px;
  border-radius: 2rem;
}

.deleteBtn:hover {
  background-color: tomato;
}